<mat-toolbar>
  <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">arrow_back</mat-icon>
  <span style="margin-left: 8px">{{path || 'Files'}}</span>
</mat-toolbar>

<div class="content" fxLayout="row wrap">
  <div *ngFor="let element of fileElements" class="file-or-folder" [class.pointer]="element.isDirectory"
    (click)="navigate(element)">
    <span [matMenuTriggerFor]="rootMenu" [matMenuTriggerData]="{element: element}" #menuTrigger="matMenuTrigger"></span>
    <div fxLayout="column" fxLayoutAlign="space-between center" (contextmenu)="openMenu($event,element, menuTrigger)">
      <mat-icon color="primary" class="file-or-folder-icon" *ngIf="element.isDirectory">folder</mat-icon>
      <mat-icon color="primary" class="file-or-folder-icon" *ngIf="!element.isDirectory">insert_drive_file
      </mat-icon>
      <span class="file-or-folder-name">{{element.name}}</span>
    </div>
  </div>
  <div *ngIf="!fileElements?.length && !loading" class="empty-folder">Folder is Empty</div>
  <div *ngIf="error" class="empty-folder">{{error}}</div>
  <mat-progress-spinner mode="indeterminate" *ngIf="loading && !error" class="loader"></mat-progress-spinner>
</div>

<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-element="element">
    <button mat-menu-item (click)="openDetailDialog(element)">
      <mat-icon>info</mat-icon>
      <span>details</span>
    </button>
  </ng-template>
</mat-menu>